<div class="card">
    <div class="card-body">
        <h2 class="card-title">About VGreen</h2>
        <h4 class="card-subtitle text-muted">VGreen is an admin panel for those who wants to manage & control from home, their Smart GreenHouses. This panel Designed & Developed with  &#x2764; . </h4>
        <div class="my-4">
            <img src="https://img.freepik.com/free-vector/colored-greenhouse-composition_1284-17637.jpg?w=826" class="img-fluid" alt="xtreme-ang" />
        </div>        
        <a href="" class="btn btn-light-success">Start now ! </a>
    </div>
</div>